Regen.Visuals.E: 0
Target Strafe.Speed Only.B: 0
Anti Bot.Player ID.B: 1
Free Look.Hidden: 0
Desc: Default Description
Free Cam.Speed.Sl: 0.750000
Reach.Amount.Max: 4.500000
Anti Void.Enabled: 0
Bind: 0
Auto Clicker.Always Swing.B: 1
Anti Bot.Hitbox Size.B: 1
Fly.Hold.B: 0
Auto Clicker.Hidden: 0
Ambience.Hidden: 0
Free Look.Enabled: 0
Motion Blur.Hidden: 0
Auto Clicker.Enabled: 0
Array List.Enabled: 1
Regen.Priority.E: 0
Ore Breaker.Range.Sl: 7.000000
Java Inventory.Hidden: 0
Free Cam.Render Position.B: 1
Auto Clicker.Right CPS.Max: 26.000000
Auto Clicker.Right Click.B: 0
Chat.Hidden: 1
Hit Boxes.Hidden: 0
Phase.Enabled: 0
Auto Clicker.Right CPS.Min: 13.000000
Zoom.Render Hand.B: 0
Auto Clicker.CPS.Min: 13.000000
Auto Clicker.CPS.Max: 16.000000
Velocity.Vertical.Sl: 0.000000
Criticals.Hidden: 0
Criticals.Enabled: 0
Disabler.Hive.B: 0
Teams.Hidden: 1
Fast Stop.Hidden: 0
Reach.On Sprint.B: 1
Animations.Enabled: 1
Aim Assist.Hidden: 0
Glint Color.Hidden: 1
Teams.Enabled: 0
Aim Assist.Enabled: 0
Aim Assist.Strength.Sl: 0.500000
Regen.Break Speed.Sl: 0.670000
Breaker.Swing.B: 1
Regen.Alerts.B: 1
Auto Pot.Mode.E: 0
Scaffold.No Aura.B: 0
Aim Assist.Range.Sl: 6.000000
Scaffold.Tower.E: 0
Fly.Enabled: 0
Aim Assist.FOV.Sl: 360.000000
MCP.Hidden: 1
Aim Assist.Through Walls.B: 1
Aim Assist.Hold.B: 1
Ore Breaker.Lapis.B: 0
Auto Pot.Health.Sl: 3.000000
Velocity.Hidden: 0
Auto Tool.Switch Back.B: 1
Session Info.Hidden: 0
Velocity.Enabled: 0
Velocity.Horizontal.Sl: 0.000000
Velocity.Jump Reset.B: 0
Chat.Enabled: 1
Hit Boxes.Enabled: 0
Anti Bot.Enabled: 1
Hit Boxes.Expand Height.Sl: 0.000000
Chat.Text Shadow.B: 0
Regen.Timeout.Sl: 700.000000
Chest Stealer.Ignore Trash.B: 1
Reach.Amount.Min: 4.000000
Step.Reverse Motion.Sl: 1.000000
Hit Boxes.Expand Width.Sl: 0.000000
Auto Pot.Hidden: 0
Hit Boxes.Through Walls.B: 1
Auto Pot.Speed Only.B: 0
Glint Color.Color.S: 0.722180
Anti Bot.Hidden: 1
Auto Pot.On Jump.B: 0
Inventory Manager.Pickaxe.E: 1
Anti Bot.Visible.B: 1
Anti Bot.Name.B: 0
Auto Pot.Enabled: 0
Reach.Hidden: 0
Scaffold.Place Delay.Min: 0.000000
Fly.Custom Vertical.B: 0
Reach.Enabled: 0
Reach.Chance.Sl: 100.000000
Anti Immobile.Enabled: 0
Config Menu.Hidden: 1
Regen.Hidden: 0
Config Menu.Enabled: 0
Interface.BPS.B: 0
Regen.Enabled: 0
Regen.Rotations.E: 0
Auto Hive.Delay.Sl: 0.000000
Ambience.Enabled: 1
Regen.Range.Sl: 7.000000
Regen.Rotate Percentage.Sl: 0.500000
Regen.Always Mine.B: 0
Insults.Delay.Sl: 0.000000
Regen.Anti Cover.B: 0
Speed.Mode.E: 0
Interface.Interface.FPS.PosX: 0.000000
Regen.Depth.E: 0
No Fall.Enabled: 0
Aura.Hidden: 0
Aura.Enabled: 0
Aura.Hit Select Mode.E: 0
Aura.Rotations.E: 0
Speed.Custom Speed.B: 0
Aura.Mode.E: 0
Aura.CPS.Min: 13.000000
Chest Stealer.Hidden: 0
Aura.CPS.Max: 16.000000
Aura.Reach.Sl: 4.500000
Aura.Dynamic Reach.B: 0
Aura.Still Reach.Sl: 3.500000
Glint Color.Color.H: 0.564880
Aura.Use Projectiles.B: 0
Scaffold.Hidden: 0
Inventory Move.Enabled: 0
Aura.Hit Select.B: 0
Auto Hive.Disable Fly.B: 1
Aura.Raycast.B: 0
Inventory Manager.Sword.E: 0
Aura.Swing.B: 1
Aura.Spoof.B: 0
Inventory Manager.Axe.E: 2
Motion Blur.Enabled: 0
Glint Color.Enabled: 0
Motion Blur.Total Frames.Sl: 5.000000
Motion Blur.Blending.Sl: 0.900000
Ore Breaker.Diamonds.B: 1
Click GUI.Hidden: 0
Click GUI.Sorting.E: 0
Click GUI.Enabled: 1
Click GUI.Dragging Physics.B: 1
Click GUI.Lower Case.B: 0
Click GUI.Tool Tips.B: 1
Target Strafe.Ignore Scaffold.B: 0
Health Alert.Hidden: 0
Free Cam.Cancel Mode.E: 0
Health Alert.Enabled: 0
Target Info.Hurt Color.H: 1.000000
Health Alert.Health Alert.Position.PosX: 960.000000
Health Alert.Health Alert.Position.PosY: 590.000000
Health Alert.Mode.E: 0
Health Alert.Background.B: 1
Disabler.Enabled: 0
Health Alert.Health.Sl: 3.000000
Item Physics.Hidden: 0
Array List.Theme.E: 0
Item Physics.Enabled: 0
Fly.Mode.E: 0
Target Info.Theme.E: 0
Session Info.Enabled: 0
Auto Hive.Auto Queue.B: 1
Fast Stop.Enabled: 0
Session Info.Session Info.Position.PosX: 150.000000
Device Spoofer.Hidden: 0
No Render.Enabled: 0
Session Info.Session Info.Position.PosY: 480.000000
Glint Color.Color.R: 0
Long Jump.Hidden: 0
Glint Color.Color.B: 0.955390
Target Info.Hidden: 0
Free Cam.Keep Motion.B: 1
Animations.Z.Sl: -0.150000
Target Info.Enabled: 0
Target Info.Target Info.Position.PosX: 1173.000000
Target Info.Custom Hurt Color.B: 0
Target Info.Target Info.Position.PosY: 603.000000
Target Info.Hurt Color.R: 0
Target Info.Hurt Color.S: 1.000000
Target Info.Hurt Color.B: 1.000000
Animations.Hidden: 0
Ore Breaker.Break Speed.Sl: 0.670000
Animations.Block Animation.E: 0
Animations.Swing Speed.Sl: 6.000000
Disabler.Ground Spoof.B: 0
Animations.X.Sl: 0.100000
Interface.Primary Color.S: 0.698039
Animations.Y.Sl: -0.100000
Inventory Manager.Snowballs.E: 4
No Render.Fire.B: 1
Animations.Smooth Swing.B: 0
Speed.Jump Height.Sl: 0.420000
No Render.Vignette.B: 1
Animations.Always Show.B: 1
Camera Clip.Hidden: 0
Camera Clip.Enabled: 0
Spider.Hidden: 0
Player List.Hidden: 0
Spider.Enabled: 0
Player List.Enabled: 0
Breaker.Flick Ticks.Min: 2.000000
Interface.Hidden: 0
Interface.Enabled: 1
Interface.Interface.FPS.PosY: 1080.000000
No Slow.Blocks.B: 1
Name Tags.Opacity.Sl: 1.000000
Interface.Interface.CPS.PosX: 135.000000
Interface.Interface.CPS.PosY: 1080.000000
Interface.Interface.BPS.PosX: 235.000000
Interface.Interface.BPS.PosY: 1080.000000
Ore Breaker.Emeralds.B: 0
Interface.Font.E: 0
Disabler.Lifeboat.B: 0
No Fall.Hidden: 0
Interface.Text Shadow.B: 0
Interface.Screen Animations.B: 1
Inventory Manager.Shovel.E: 3
Interface.Smooth Hotbar.B: 1
Interface.Lower Case.B: 0
Interface.Blur.B: 1
Scaffold.Swing.B: 0
Interface.Primary Color.R: 0
Interface.Primary Color.H: 0.544007
Speed.Enabled: 0
Interface.Primary Color.B: 1.000000
Target Strafe.Hidden: 0
Array List.Lower Case.B: 0
Interface.Secondary Color.R: 0
Interface.Secondary Color.H: 0.588889
Interface.Secondary Color.S: 1.000000
Auto GG.Enabled: 0
Interface.Secondary Color.B: 1.000000
Speed.Damage Friction.Sl: 0.965000
Interface.Watermark.B: 1
Chest Stealer.Enabled: 0
Interface.FPS.B: 1
Interface.CPS.B: 0
No Render.Blindness.B: 1
Array List.Hidden: 1
Array List.Text Shadow.B: 0
No Render.Hidden: 0
No Render.Suffocation Block.B: 1
Target Strafe.Fly Only.B: 0
No Render.Block Breaking.B: 0
No Render.Lightning.B: 1
No Render.Player Shadows.B: 1
No Render.Nausea.B: 1
Step.Regen Only.B: 0
Ambience.Weather.E: 0
Ambience.Brightness.Sl: 1.000000
Ambience.Time.Sl: 0.000000
Name Tags.Hidden: 0
Name Tags.Enabled: 0
Name Tags.Mode.E: 0
Name Tags.Self Mode.E: 0
Name Tags.Shadow Intensity.Sl: 0.500000
Chat.Visible Messages.Sl: 10.000000
Zoom.Hidden: 1
Phase.Top Height.Sl: 0.000100
Zoom.Enabled: 0
Fly.Wait for Damage.B: 0
Zoom.Easing Speed.Sl: 0.150000
ESP.Item Chams.B: 0
Zoom.Zoom Level.Sl: 3.500000
Zoom.Smooth.B: 1
ESP.Hidden: 0
Ore Breaker.Ancient Debris.B: 0
ESP.Enabled: 0
ESP.Render Mode.E: 0
Free Cam.Enabled: 0
ESP.Render Self.B: 1
Auto Tool.Enabled: 0
Phase.Ignore Top.B: 0
ESP.Chams.B: 1
ESP.Fill.B: 1
Inventory Move.Hidden: 0
Target Strafe.Enabled: 0
Target Strafe.Range.Sl: 4.500000
Target Strafe.On Jump.B: 1
Safe Walk.Hidden: 0
Safe Walk.Enabled: 0
Blink.Pulse Delay.Sl: 350.000000
Long Jump.Enabled: 0
Long Jump.Mode.E: 0
Long Jump.Height.Sl: 0.450000
Long Jump.Speed.Sl: 0.450000
Long Jump.Timer.Sl: 20.000000
Fast Stop.Ground Only.B: 0
Phase.Vertical.B: 0
Spider.Mode.E: 0
Spider.Speed.Sl: 0.600000
Speed.Fast Fall.B: 0
Sprint.Hidden: 0
Sprint.Enabled: 1
Sprint.Legit.B: 1
No Slow.Hidden: 0
Auto GG.Message.Str: GG! packet 3.1 on top!
No Slow.Enabled: 0
Jesus.Hidden: 0
Insults.Silent.B: 0
Jesus.Enabled: 0
Insults.Spammer.B: 0
Fly.Vertical Speed.Sl: 0.000000
Jesus.Collision.E: 0
Step.Hidden: 0
Phase.Blink.B: 0
Step.Enabled: 0
Speed.Custom Friction.B: 0
Step.Mode.E: 0
Step.Height.Sl: 1.000000
Step.Ignore Speed.B: 0
Anti Immobile.Hidden: 0
Step.Reverse.B: 0
Speed.Hidden: 0
Speed.Jump Mode.E: 0
Speed.Damage Boost.B: 0
Speed.Damage Ticks.Min: 0.000000
Inventory Manager.Blocks.E: 8
Speed.Damage Ticks.Max: 3.000000
No Fall.Mode.E: 0
Speed.Damage Speed.Sl: 0.450000
Speed.Fast Fall Ticks.Min: 5.000000
Chest Stealer.Auto Close.B: 1
Speed.Fast Fall Ticks.Max: 5.000000
Auto Tool.Spoof.E: 0
MCP.Switch Back Delay.Sl: 0.000000
Speed.Fast Fall Motion.Sl: 3.000000
Speed.Friction.Sl: 0.965000
Auto Hive.Disable Aura.B: 1
Speed.Strafe.B: 0
Speed.Strafe Ticks.Min: 0.000000
Fly.Motion.Sl: 0.000000
Speed.Strafe Ticks.Max: 7.000000
Speed.Speed.Sl: 0.330000
Speed.Minimum Speed.Sl: 0.250000
Speed.Swiftness Multiplier.Sl: 1.300000
Speed.Timer.Sl: 20.000000
Fly.Hidden: 0
Fly.Damage Ticks.Min: 0.000000
Anti Void.Mode.E: 0
Fly.Damage Ticks.Max: 15.000000
Fly.Multiplier.Sl: 1.700000
Fly.Reset Tick.Sl: 5.000000
Fly.Vertical.B: 0
Fly.Custom Speed.B: 0
Fly.Speed.Sl: 0.450000
Fly.Timer.Sl: 20.000000
Blink.Pulse.B: 0
Inventory Manager.Hidden: 0
Inventory Manager.Enabled: 0
Inventory Manager.Auto Armor.B: 1
Inventory Manager.Auto Totem.B: 1
MCF.Hidden: 1
Inventory Manager.Auto Close.B: 1
Inventory Manager.Swing.B: 0
Inventory Manager.Delay.Min: 50.000000
Inventory Manager.Delay.Max: 50.000000
Inventory Manager.Bow.E: 5
Inventory Manager.Pearls.E: 6
Chest Stealer.Delay.Min: 50.000000
Chest Stealer.Delay.Max: 50.000000
Anti Immobile.Mode.E: 0
Scaffold.Enabled: 0
Scaffold.Slot Priority.E: 0
Anti Void.Distance.Sl: 4.000000
Scaffold.Placement.E: 0
Insults.Hidden: 0
Scaffold.Rotations.E: 0
Scaffold.Spoof.E: 0
Scaffold.Switch Delay.Sl: 0.000000
Ore Breaker.Gold.B: 0
Scaffold.Place Delay.Max: 0.000000
Scaffold.Tower Speed.Sl: 0.500000
Scaffold.Expand.Sl: 0.000000
Scaffold.Lock Y.B: 1
Anti Void.Hidden: 0
Anti Void.Cancel Distance.Sl: 0.500000
Timer.Increase.B: 0
Anti Void.Center.B: 0
Free Cam.Hidden: 0
Phase.Hidden: 0
Phase.Mode.E: 0
Phase.Non Solid.B: 0
Phase.Auto Disable.B: 0
Blink.Hidden: 0
Blink.Enabled: 0
Blink.Mode.E: 0
Blink.No Packet.B: 0
Timer.Hidden: 0
Ore Breaker.Iron.B: 0
Timer.Enabled: 0
Timer.Speed.Sl: 20.000000
Timer.Increase Speed.Min: 20.000000
Timer.Increase Speed.Max: 20.000000
MCP.Enabled: 0
Device Spoofer.Enabled: 0
Java Inventory.Enabled: 0
Breaker.Hidden: 0
Toggle Sounds.Hidden: 1
Breaker.Enabled: 0
Toggle Sounds.Enabled: 0
Toggle Sounds.Mode.E: 0
Toggle Sounds.Volume.Sl: 1.000000
Ore Breaker.Hidden: 0
Ore Breaker.Enabled: 0
Ore Breaker.Rotations.E: 0
Ore Breaker.Visuals.E: 0
Ore Breaker.Rotate Percentage.Sl: 0.500000
Ore Breaker.Stop Off Ground.B: 1
Ore Breaker.Coal.B: 0
Auto Hive.Hidden: 0
Auto Hive.Enabled: 0
Auto Hive.Disable Speed.B: 1
Disabler.Hidden: 0
Disabler.Swing.B: 1
Disabler.Swing Delay.Sl: 50.000000
Auto Tool.Hidden: 0
Auto Tool.Switch Delay.Sl: 0.000000
Auto Tool.Auto Bucket.B: 0
Auto Tool.Auto Strip.B: 0
Insults.Messages.E: 0
Auto Fish.Hidden: 0
Auto Fish.Enabled: 0
Insults.Enabled: 0
Insults.Mention.B: 0
Breaker.Rotations.E: 0
Breaker.Flick Mode.E: 0
Auto GG.Join Message.Str: @here yo guys my favorite website is packet.sellsn.io!
Breaker.Flick Ticks.Max: 4.000000
Breaker.Loot Boxes.B: 1
MCF.Enabled: 0
Auto GG.Hidden: 0
Auto GG.Send Join Message.B: 1
Auto GG.Enable Fly.B: 0